@import url("reset.css");
@import url("calendar.css");
@import url("table.css");

body {
  font-family:"Lucida Grande", Verdana, sans-serif;
  font-size:small;
  background:#f9f9f9;
  position:relative;
}

div#branding {
  background:#464646;
  padding:1em;
}

div#branding h1 {
  font-size:1.5em;
  color:#fff;
  font-family:Georgia, serif;
  font-style:italic;
  font-weight:normal;
}

div#navigation ul {
  position:absolute;
  background:#f1f1f1;
  width:9em;
  border:1px solid #e0e0e0;
  -moz-border-radius:6px;
}

div#navigation ul.current {
  border:0;
}

div#navigation li {
  height:2.25em;
  line-height:2.25em;
  padding:0 0.75em 0 2em;
  font-family:Georgia, serif;
}

div#navigation li a {
  text-decoration:none;
  color:#21759B;
}

div#navigation li a:hover {
  color:#D54E21;
}

div#navigation li.current a {
  color:#fff;
}

div#navigation li.current {
  background:url("../images/nav_current.png") #6d6d6d repeat-x top left;
  border:1px solid #333;
  -moz-border-radius:6px;

}

ul#dashboard_nav li {
  -moz-border-radius:6px;
}

div#navigation ul#user {
  top:1em;
  right:2em;
  -moz-border-radius:0;
  background:none;
  border:none;
  width:auto;
}

div#navigation ul#user li {
  float:left;
  padding:0.25em 0.5em;
  color:#999999;
  line-height:1.25em;
  height:auto;
  font-family:"Lucida Grande", Verdana, sans-serif;
}

ul#user li:first-child {
  border-right:1px solid #999;
}

ul#user li a {
  color:#CCCCCC;
  text-decoration:none;
}

ul#user li a:hover {
  text-decoration:underline;
  color:#fff;
}

ul#dashboard_nav {
  left:1em;
  top:5em;
}

ul#admin {
  top:8em;
  left:1em;
}

ul#admin li {
  border-bottom:1px solid #e0e0e0;
  border-top:1px solid #fff;
}

ul#admin li.units {
  border-top:none;
}

ul#admin li.settings {
  border-bottom:none;
}

div#content {
  padding-left:11em;
  clear:left;
}

div.main_content {
  
}

div#help {
  margin:0 1em 0 11em;
  padding:1em;
  -moz-border-radius:0 0 6px 6px;
  background:#f1f1f1;
  border:1px solid #e0e0e0;
  border-top:0;
}

div#help p {
  font-size:0.95em;
}

a.help_link {
  float:right;
  margin-right:3em;
  display:block;
  background:#464646;
  padding:0.25em 0.5em;
  text-transform:lowercase;
  color:#fff;
  text-decoration:none;
  font-size:0.9em;
  -moz-border-radius:0 0 6px 6px;
  outline:none;
}

a.help_link:hover {
  color:#ccc;
}

a.help_link:active {
  outline:none;
}

h2 {
  font-size:1.5em;
  font-family:Georgia, sans-serif;
  padding:0.5em 0 0.5em 7.333em;
  font-style:italic;
  font-weight:normal;
  float:left;
}

div#dashboard {
  overflow:hidden;
  min-width:836px;
  clear:both;
  padding-bottom:13px;
  -moz-border-radius:6px;
  border:1px solid #e0e0e0;
  background:#fff;
  margin-right:1em;
  margin-bottom:1em;
  position:relative;
}

div#dashboard h3 {
  margin-bottom:13px;
}

div#site_info {
  float:right;
  padding-right:1em;
}

div#site_info p {
  font-size:0.85em;
}

div#site_info p a {
  text-decoration:none;
  color:#000;
}

div#site_info p a:hover {
  text-decoration:underline;
}

img.ajax_loader {
  float:right;
  display:none;
  position:relative;
  top:40px;
}

form#new_reservation {
  padding:1em;
  overflow:hidden;
}

form#new_reservation fieldset {
  width:48%;
  float:left;
}

label {
  display:block;
  float:left;
  clear:left;
  width:25%;
  margin:0.5em;
  text-align:right;
  line-height:28px;
}

form#new_reservation select {
  width:50%;
  margin:0.75em;
  padding:3px;
}

div.information_wrapper select {
  width:50%;
  margin:0.75em;
}

input.text_field {
  float:left;
  margin:0.5em;
  border:1px solid #ccc;
  padding:3px;
  font-size:1.25em;
  width:50%;
}

input.small {
  font-size:1em;
  margin:0.25em;
}

label.small {
  margin:0.25em;
  line-height:24px;
  width:25%;
}

div.wrapper {
  -moz-border-radius:6px;
  border:1px solid #e0e0e0;
  background:#fff;
  margin-right:1em;
  padding:0em;
  margin-bottom:1em;
  min-width:836px;
  clear:left;
  position:relative;
}

div.wrapper h3, div#dashboard h3 {
  background:url("../images/gray-grad.png") repeat-x top left;
  height:31px;
  color:#464646;
  text-shadow: 0 1px 0 #fff;
  line-height:31px;
  padding:0 1em;
  margin-bottom:13px;
}

a.primary_operation {
  display:block;
  font-size:1em;
  float:left;
  margin-top:0.5em;
  padding:0.6em 0 0 0.5em;
  margin-left:1em;
  text-decoration:none;
  color:#21759B;
  border-left:1px solid #464646;
}

a.primary_operation:hover {
  color:#D54E21;
}

a {
  color:#21759B;
  text-decoration:none;
  outline:none;
}

a:hover {
  color:#D54E21;
}

a:active {
  outline:none;
}

div.error p {
  font-size:1.25em;
  padding-bottom:0.5em;
}

div.error ul {
  list-style:disc inside;
  margin-left:1em;
}

div#new_reservation_wrapper {
  display:none;
  overflow:hidden;
}

p.reservation_error, p.reservation_success {
  padding-left:25%;
  margin-left:2em;
  font-style:italic;
  float:left;
  font-size:0.9em;
  position:relative;
  top:-0.75em;
}

p.reservation_error {
  color:#8A1F11;
}

p.reservation_success {
  color:#264409;
}

p.success_message {
  margin-top:0.5em;
  margin-left:3em;
  padding-top:0.6em;
  float:left;
  color:#264409;
  font-style:italic;
}

p.success_message strong {
  font-weight:bold;
  font-style:italic;
}

div#reservation_details {
  padding:1em;
}

dt {
  font-weight:bold;
  font-style:italic;
  float:left;
  clear:left;
  width:8em;
  padding:0.15em 0;
  padding-right:1em;
}

dd {
  padding:0.15em 0;
}

div#unit_information dd {
  padding:0 0 0.5em;
  clear:left;
}

div#reservation_details {
  overflow:hidden;
}

div#guest_information, div#unit_information {
  width:48%;
  float:left;
  -moz-border-radius:4px;
  border:1px solid #e0e0e0;
  position:relative;
}

div#unit_information, div#unit_gallery {
  margin:1%;
  width:45%;
}

div#unit_information_wrapper {
  overflow:hidden;
}

div.information_wrapper {
  padding:1em;
}

div#reservation_details h4, div#unit_information_wrapper h4 {
  background:url("../images/gray-grad.png") repeat-x bottom left;
  height:21px;
  color:#464646;
  text-shadow: 0 1px 0 #fff;
  font-size:0.9em;
  line-height:21px;
  padding:0 1em;
}

div#reservation_information, div#unit_gallery {
  width:48%;
  float:right;
  -moz-border-radius:4px;
  border:1px solid #e0e0e0;
  position:relative;
}

div.reservation_details_wrapper {
  overflow:hidden;
}

a.close {
  display:block;
  float:right;
  margin:1em;
  color:#464646;
  text-decoration:none;
}

a.close:hover {
  text-decoration:underline;
}

input#reservation_submit, input#guest_submit, input.submit {
  clear:both;
  display:block;
  cursor:pointer;
  background:url("../images/gradient_blue.png") repeat-x #214e83;
  -moz-border-radius:8px;
  border:1px solid #1a3d6a;
  padding:3px;
  font-size:1.2em;
  color:#fff;
  text-shadow:0 -1px #585858;
}

div.information_wrapper input.submit {
  margin:0.5em;
}

input#reservation_submit:hover {
  color:#DBDBDB;
}

a.edit, a.cancel, div.modes, div.status {
  position:absolute;
  right:1em;
  top:0.25em;
  text-decoration:none;
  color:#464646;
  font-size:0.9em;
}

div.modes a {
	line-height:25px;
  text-decoration:none;
  color:#464646;
  font-size:0.9em;
}

a.edit:hover, a.cancel:hover, div.modes a:hover {
  text-shadow:0 1px #fff;
}

div.reservation_details_wrapper fieldset {
  padding:1em 0.5em 0.5em;
}

span.error_message {
  display:block;
  line-height:24px;
  margin:0.25em;
}

.information_wrapper div.error{
	margin:1em;
}

div.modes a.active {
  text-decoration:underline;
}

div.status {
  line-height:31px;
  font-size:1.2em;
  top:0;
  text-transform:capitalize;
}

span.reserved {
  color:#C60202;
}

span.confirmed {
  color:#2f70ae;
}

span.checked_in {
  color:#29641d;
}

span.checked_out {
  color:#333333;
}

div#actions {
  padding:0.5em 1em 0;
  text-align:right;
  overflow:hidden;
  position:relative;
}

div#actions a {
  font-style:italic;
  font-size:0.9em;
}

div#actions label {
  line-height:1.2em;
  width:auto;
  margin:0 1em;
  float:none;
  display:inline;
}

div#actions input {
  display:none;
  background:none;
  border:none;
  color:#21759B;
  font-size:1em;
  font-weight:normal;
  text-shadow:none;
  float:right;
}

div#actions input:hover {
  color:#21759B;
}

div#actions p.error {
  position:absolute;
  right:15em;
  top:0.5em;
  border:none;
  background:none;
  margin:0;
  padding:0;
}

fieldset.edit_unit label {
  float:none;
  width:auto;
  text-align:left;
  margin:0;
}

fieldset.edit_unit input.text_field {
  margin-top:0;
  margin-left:0;
}

fieldset.edit_unit textarea {
  border:1px solid #ccc;
  width:98%;
  height:10em;
  padding:0.5em;
}