/* Normalizes margin, padding */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td
{ margin: 0; padding: 0; }

/* Normalizes font-size for headers */
h1, h2, h3, h4, h5, h6
{ font-size: 100%; }

/* Removes list-style from lists */
ol, ul
{ list-style: none; }

/* Normalizes font-style and font-weight to normal */
address, caption, cite, code, dfn, em, strong, th, var
{ font-style: normal; font-weight: normal; }

/* Removes borders and spacing from tables */
table
{ border-collapse: collapse; border-spacing: 0; }

/* Removes border from fieldset and img */
fieldset, img
{ border: 0; }

/* left-aligns text in caption and th */
caption, th
{ text-align: left; }

/* Removes quotation marks from q */
q:before, q:after
{ content:''; }

.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}