table#reservations_table {
  width:98% !important;
  margin:1%;
  border:1px solid #e0e0e0;
  -moz-border-radius:4px;
  border-spacing:0;
  border-collapse:separate;
}

table#reservations_table thead {
  background:url("../images/gray-grad.png") repeat-x bottom left;
  padding:3px;
}

table#reservations_table th {
  padding:0.5em 1em;
  cursor:pointer;
}

table#reservations_table td {
  padding:0.4em 1em;
  border-bottom:1px solid #e0e0e0;
  white-space:nowrap;
}

table#reservations_table tbody tr:hover td {
  background:#E6E6E6;
}

table#reservations_table tr:last-child td {
  border-bottom:none;
}

table#reservations_table tr.even td {
  background:#F8F8F8;
}

div#reservations_table_filter, div#reservations_table_info {
  padding:0 1%;
}

td.state, th.state{
  text-align:center;
}

td.reserved {
  color:#ff0000;
}

td.confirmed {
  color:#2f70ae;
}

td.checked_in {
  color:#29641d;
}

td.checked_out {
  color:#333333;
}

div#reservations_table_info {
  float:left;
}

div#reservations_table_paginate {
  float:right;
  padding-right:1%;
}

div#reservations_table_paginate div {
  float:left;
  margin-left:1em;
  padding:0.5em;
  cursor:pointer;
  background:#ccc;
  border:1px solid #e0e0e0;
  -moz-border-radius:4px;
}

div.paginate_disabled_previous, div.paginate_disabled_next {
  color:#666666;
  cursor:default;
}

