<% 
  @page_title = "Dashboard" 
  @primary_operator = "New Reservation"
  @primary_operator_path = new_reservation_path
  %>


<div id="dashboard">
  <%= render :partial => "reservations/calendar/calendar" %>
</div>