<% 
  @page_title = "Dashboard" 
  @primary_operator = "New Reservation"
  @primary_operator_path = new_reservation_path
  %>

<div id="new_reservation_wrapper" class="wrapper">
  <%= render :partial => "form" %>
</div>
<div id="dashboard">
  <%= render :partial => "reservations/calendar/calendar" %>
</div>