<p class="name"><%= reservation.guest.name %></p>
<p class="unit">Unit: <%= reservation.unit.name %></p>
<p class="arrival">Arrival: <%= reservation.start_date.strftime("%a, %b %d") %></p>
<p class="departure">Departure: <%= reservation.end_date.strftime("%a, %b %d") %></p>