<% if rate_variations.empty? %>
  You have not defined any rate variations for this unit.
<% else %>
  <ul>
  <% rate_variations.each do |r| %>
    <li><%= r %> <%= link_to 'Destroy', unit_rate_variation_path(r.unit, r), :confirm => 'Are you sure?', :method => :delete %></li>
  <% end %>
  </ul>
<% end %>