<%  
  @page_title = 'Units' 
  @primary_operator = "New Unit"
  @primary_operator_path = new_unit_path
%>

<div id="units_list" class="wrapper">
  <h3>Units List</h3>
<table id="units_table">
 <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
<% @units.each do |unit| %>
  <tr>
    <td class="unit_name"><%= link_to unit.name, unit, :class => 'link_to_unit_details' %></td>
    <td><%=h unit.description %></td>
    <!--<td><%= link_to 'Edit', edit_unit_path(unit) %></td>
    <td><%= link_to 'Destroy', unit, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</tbody>
</table>
</div>